<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>商品詳細 | UPLOAD online shop</title>
		<link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
		<link href="css/reset.css" rel="stylesheet" type="text/css">
		<link href="css/common.css" rel="stylesheet" type="text/css">
		<link href="css/main.css" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="js/common.js"></script>
		<script src="js/main.js"></script>
	</head>
	<body>
		<header>
			<header-content v-bind:items="cartItems"></header-content>
			<logo-content></logo-content>
		</header>
		<div id="container" class="center">
			<ul id="productDetail" style="display:none;">
				<product-detail v-if="param.pid" v-bind:product="json.product[param.pid]"></product-detail>
				<product-detail-content v-if="param.pid" v-bind:product="json.product[param.pid]"></product-detail-content>
			</ul>
		</div>
		<input type="button" onclick="window.sessionStorage.removeItem(['cart']); window.location.reload();" value="Clear">
		<footer>
			<footer-content></footer-content>
		</footer>
		<script>
			$(function() {
				var searchParam = window.location.search;
				var index = searchParam.indexOf("productId=");
				if(index > -1){
					Vue.set(data.param, 'pid', searchParam.substr(index + 10, 8));
					$("#productDetail").css("display", "block");
				}else{
					$("#productDetail").before("<h2>商品が見つかりませんでした。</h2>");
				}
			});
		</script>
	</body>
</html>
